.box {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    width: 100%;
}

@media (max-width: 799px) {
    .box {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .box {
        width: 50%;
        background-color: green;
    }
}
